In [4]:
import pandas as pd
import requests
import urllib

In [105]:
def get_json(url):
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    r=requests.get(url, headers=headers)
    data=r.json()
    return data 
data=get_json(url)

In [106]:
def get_df(url):
    data=get_json(url)

    name={i['code']: i['cname'] for i in data['returndata']['wdnodes'][0]['nodes']}
    value=[i['data']['data']  for i in data['returndata']['datanodes']]
    date=[i['wds'][1]['valuecode']  for i in data['returndata']['datanodes']]
    code=[i['wds'][0]['valuecode']  for i in data['returndata']['datanodes']]

    df=pd.DataFrame(dict(zip(['Code', 'Date', 'Value'], [code, date, value])))
    df['Name']=df['Code'].map(name)
    return df

In [136]:
# get current timestamp
from datetime import datetime

now = datetime.now()
timestamp = int(now.timestamp())*1000


# generate enquiry dict
start_time='202201'
end_time='202212'
time=f'{start_time}-{end_time}'

db='A0601' #房地產
dict_time={'wdcode': 'sj', 'valuecode': time}
dict_db={'wdcode': 'zb', 'valuecode': db}
str_dfwds=(f'{dict_db},{dict_time}').replace(' ','').replace('\'','\"')

# formulate url
f={'m':'QueryData', 'dbcode':'hgyd', 'rowcode':'zb', 'colcode':'sj', 'wds':'[]', 
   'dfwds':f'[{str_dfwds}]', 'k1':f'{timestamp}'}
main_url='https://data.stats.gov.cn/easyquery.htm'
url=f'{main_url}?{urllib.parse.urlencode(f)}'



get_df(url)

        Code    Date        Value                Name
0    A060101  202212  132895.4113           房地产投资_累计值
1    A060101  202211  123863.0006           房地产投资_累计值
2    A060101  202210  113945.3017           房地产投资_累计值
3    A060101  202209  103558.5404           房地产投资_累计值
4    A060101  202208   90808.8576           房地产投资_累计值
..       ...     ...          ...                 ...
379  A06010W  202205     -11.6000  房地产开发新增固定资产投资_累计增长
380  A06010W  202204      -9.3000  房地产开发新增固定资产投资_累计增长
381  A06010W  202203     -10.6000  房地产开发新增固定资产投资_累计增长
382  A06010W  202202      -5.6000  房地产开发新增固定资产投资_累计增长
383  A06010W  202201       0.0000  房地产开发新增固定资产投资_累计增长

[384 rows x 4 columns]